// Box-sizing reset.
html {
    box-sizing: inherit;
}

*,
::before,
::after {
    box-sizing: border-box;
}

// Saw this in the Bulma source (specifically: base/generic.sass),
// Not sure why it's necessary though...
span {
    font-style: inherit;
    font-weight: inherit;
}

